* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  background-color: #121212;
}

html {
  color: #F4F2ED;
  font-size: clamp(14px, 1.5vw, 18px);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  align-items: center;
}
main section.view1 {
  max-width: 2000px;
  gap: 1rem;
  display: flex;
  flex-direction: column;
  padding: 0rem;
  align-content: center;
}
main section.view1 .top {
  width: 100%;
}
main section.view1 .top img {
  width: 100%;
  border-radius: 1rem;
}
main section.view1 .bottom {
  border-radius: 1rem;
  width: 100%;
  background-color: #1E1E1E;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  gap: 5rem;
}
main section.view1 .bottom p {
  font-weight: 300;
  font-size: 1.2rem;
  color: #9C9B98;
  line-height: 140%;
  color: #F4F2ED;
}
main section.view1 .bottom div.inside-bottom {
  display: flex;
  flex-direction: column;
  padding: 0;
  gap: 1.3rem;
}
main section.view1 .bottom div.inside-bottom h4 {
  font-size: 3.4rem;
  font-weight: 200;
  line-height: 105%;
  text-transform: uppercase;
}
main section.view1 .bottom div.inside-bottom p {
  font-size: 1.1rem;
  color: #9C9B98;
  line-height: 140%;
  max-width: 738px;
}
main section.view1 .bottom div.inside-bottom div.arrow {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
main section.view1 .bottom div.inside-bottom div.arrow i {
  padding: 0.7rem;
  font-size: 1.2rem;
  font-weight: 200;
  border: 1px solid rgba(255, 255, 255, 0.337);
  border-radius: 50%;
}
main section.view1 .bottom div.inside-bottom div.arrow span {
  color: white;
  font-size: 1.3rem;
}
main section.view2 {
  max-width: 2000px;
  display: flex;
  flex-direction: column;
  padding: 0rem;
  gap: 1rem;
}
main section.view2 div.part1 {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  margin: 2rem 0;
}
main section.view2 div.part1 div.first-half, main section.view2 div.part1 div.second-half {
  display: flex;
  justify-content: space-around;
  gap: 3rem;
}
main section.view2 div.part1 div.elem {
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
  align-items: center;
}
main section.view2 div.part1 div.elem p {
  text-transform: uppercase;
  font-weight: 200;
  font-size: 1rem;
  color: rgba(244, 242, 237, 0.7803921569);
}
main section.view2 div.part1 div.elem span {
  font-size: 3.4rem;
  font-weight: 200;
  line-height: 105%;
  text-transform: uppercase;
}
main section.view2 div.part2, main section.view2 div.part3 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
main section.view2 div.part2 div.top img, main section.view2 div.part3 div.top img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 1rem;
}
main section.view2 div.part2 div.bottom, main section.view2 div.part3 div.bottom {
  background-color: #1E1E1E;
  padding: 2rem;
  border-radius: 1rem;
}
main section.view2 div.part2 div.bottom span, main section.view2 div.part3 div.bottom span {
  display: inline-block;
  text-transform: uppercase;
  font-family: monospace;
  font-size: 1rem;
  color: white;
  margin-bottom: 5rem;
}
main section.view2 div.part2 div.bottom h4, main section.view2 div.part3 div.bottom h4 {
  font-size: 3.4rem;
  font-weight: 200;
  line-height: 105%;
  text-transform: uppercase;
  margin-bottom: 2rem;
}
main section.view2 div.part2 div.bottom p, main section.view2 div.part3 div.bottom p {
  font-weight: 300;
  font-size: 1.2rem;
  color: #9C9B98;
  line-height: 140%;
}
main section.view3 {
  width: 100%;
  max-width: 2000px;
  display: flex;
  flex-direction: column;
  padding: 0;
  gap: 1rem;
}
main section.view3 header h1 {
  font-size: 3.4rem;
  font-weight: 200;
  line-height: 105%;
  text-transform: uppercase;
  padding: 1rem 0 1rem 1rem;
}
main section.view3 .team-wrapper {
  display: flex;
  flex-direction: column;
  padding: 0;
  gap: 1rem;
}
main section.view3 .wrapper {
  padding-right: 1rem;
  display: flex;
  justify-content: flex-end;
}
main section.view3 .wrapper div {
  height: 2.7rem;
  width: 2.7rem;
  border: 1px solid white;
  border-radius: 50%;
  margin-left: 0.3rem;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
}
main section.view3 .wrapper div img {
  height: 100%;
  width: 100%;
}
main section.view3 .name {
  border-radius: 0.4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.212);
  padding: 1rem;
  text-transform: uppercase;
  -webkit-backdrop-filter: blur(1px);
          backdrop-filter: blur(1px);
}
main section.view3 .name h3 {
  font-size: 1.5rem;
  font-weight: 200;
}
main section.view3 .name span {
  font-family: monospace;
  font-weight: 600;
}
main section.view3 div.part1, main section.view3 div.part2, main section.view3 div.part3 {
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  justify-content: space-between;
  background-image: url(./images/img2.webp);
  background-size: cover;
  background-position: center;
  aspect-ratio: 1/1;
}
main section.view3 div.part2 {
  background-image: url(images/img3.webp);
}
main section.view3 div.part3 {
  background-image: url(images/img4.webp);
}

@media (min-width: 900px) {
  main section.view1 {
    flex-direction: row;
  }
  main section.view1 .top, main section.view1 .bottom {
    width: 50%;
  }
  main section.view1 .top img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  main section.view1 div.bottom {
    justify-content: space-between;
    gap: 0rem;
  }
  main section.view2 div.part1 {
    flex-direction: row;
  }
  main section.view2 div.part1 div.first-half, main section.view2 div.part1 div.second-half {
    justify-content: space-around;
    width: 50%;
  }
  main section.view2 div.part2 {
    flex-direction: row-reverse;
  }
  main section.view2 div.part2 .top, main section.view2 div.part2 .bottom {
    width: 50%;
  }
  main section.view2 div.part2 div.top img {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  main section.view2 div.part3 {
    flex-direction: row;
  }
  main section.view2 div.part3 .top, main section.view2 div.part3 .bottom {
    width: 50%;
  }
  main section.view2 div.part3 div.top img {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  main section.view3 .team-wrapper {
    flex-direction: row;
  }
  main section.view3 .team-wrapper > div {
    flex-grow: 1;
  }
  main section.view3 .wrapper > div {
    width: 10%;
    height: 80%;
  }
}/*# sourceMappingURL=style.css.map */